.from-control {
    margin: 1rem 0;
}

.from-control label .from-control input {
    display: block;
    width: 100%;
}

.from-control label {
    color: #333;
}

.from-control input {
    border: #638092;
    font: inherit;
    border-radius: 2px;
    color: #094063;
}

button{
    font: inherit;
    border: 1px solid #254c64;
    color: #638092;
    background: #95a8b3;
    border-radius: 3px;
    cursor: pointer;
}

button:hover, 
button:active{
    background-color: #aebfc9;
    
}